@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    font-family: 'Archivo', sans-serif;
    color: var(--text-color);
    //background: #CCCCCC12;
    background: #ffffff;
    //background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
   
    //min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}