@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

//    color: #AEDFD4;   light-green
//    color: #FD7701;   orange
//    color: #51AF78;   green


.layout-sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 4.1rem;
    font-size:12px;
    //background: #ffffff;
    background-color: #F7F7F7;
    padding: 1rem 2rem;
    box-shadow: 0 0 50px hsla(0,0%,58.8%,.4);
    transition: transform $transitionDuration, left $transitionDuration;
    //background-color: var(--surface-card);
    //background-color: #AEDFD4


}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            margin: .75rem 0;
        }

        > a {
            display: none;
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }

        > ul {
            max-height: auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: .50rem 1rem;
            font-size:13px;
            border-radius: $borderRadius;
            transition: background-color $transitionDuration, box-shadow $transitionDuration;

            .layout-menuitem-icon {
                margin-right: .5rem;
            }

            .layout-submenu-toggler {
                font-size: 50%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }

            &.rotated-icon {
                .layout-menuitem-icon {
                    transform: rotate(90deg);
                }
            }

            &.active-route {
                font-weight: 700;
                //color: var(--primary-color);
                color: #51AF78;
                //color: #AEDFD4;
                //color: #abeeab;
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                @include focused-inset();
            }
        }

        ul {
            overflow: hidden;
            max-height: 0;
            border-radius: $borderRadius;

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.layout-menu ul a:focus {
    box-shadow: 0 0 50px hsla(0,0%,58.8%,.1);
    transition: box-shadow 0.2s;
}

.layout-submenu-enter-active {
    max-height: 1000px !important;
    transition: max-height 1s ease-in-out;
}

.layout-submenu-enter-done {
    max-height: 1000px !important;
}

.layout-submenu-exit {
    max-height: 1000px !important;
}

.layout-submenu-exit-active {
    overflow: hidden;
    max-height: 0 !important;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}
